# ========================================== #
# Provider
# ========================================== #
profile = "your-aws-profile"
region  = "ap-northeast-1"

project     = "your-project"
environment = "prod/dev"

# ========================================== #
# Network
# ========================================== #
## VPC
vpc_cidr = "10.0.0.0/16"

## Subnet
public_subnets = {
  "public-1a" = "10.0.1.0/24"
  "public-1c" = "10.0.2.0/24"
}

private_subnets = {
  "private-1c" = "10.0.3.0/24"
  "private-1d" = "10.0.4.0/24"
}

## Availability Zone
availability_zones = {
  "1a" = "ap-northeast-1a"
  "1c" = "ap-northeast-1c"
  "1d" = "ap-northeast-1d"
}

# ========================================== #
# Domain Name
# ========================================== #
domain = "hogehoge.com"